/* line 5, /Users/dapothomas/Desktop/school-haus/app/assets/stylesheets/pages.scss */
.jumbotron h2, h4 {
  color: #fff;
  position: relative;
  top: 20%;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
}

/* line 13, /Users/dapothomas/Desktop/school-haus/app/assets/stylesheets/pages.scss */
.navbar {
  margin-bottom: 0px;
}

/* line 17, /Users/dapothomas/Desktop/school-haus/app/assets/stylesheets/pages.scss */
.jumbotron {
  background: #000;
  height: 100vh;
}

/* line 22, /Users/dapothomas/Desktop/school-haus/app/assets/stylesheets/pages.scss */
.logo {
  position: relative;
  top: 20%;
}

/* line 27, /Users/dapothomas/Desktop/school-haus/app/assets/stylesheets/pages.scss */
.jumbotron li {
  list-style: none;
}

/* line 31, /Users/dapothomas/Desktop/school-haus/app/assets/stylesheets/pages.scss */
.links {
  position: relative;
  top: 20%;
}

/* line 36, /Users/dapothomas/Desktop/school-haus/app/assets/stylesheets/pages.scss */
.links about h1 {
  font-weight: 300;
  color: #fff;
}

/* line 41, /Users/dapothomas/Desktop/school-haus/app/assets/stylesheets/pages.scss */
.about a, .home a {
  color: #fff;
}

/* line 45, /Users/dapothomas/Desktop/school-haus/app/assets/stylesheets/pages.scss */
.about a:hover, .home a:hover {
  text-decoration: none;
  text-shadow: 3px 3px 10px #FFF;
}

/* line 50, /Users/dapothomas/Desktop/school-haus/app/assets/stylesheets/pages.scss */
.container h5 {
  font-size: 20px;
  color: #fff;
}

/* line 55, /Users/dapothomas/Desktop/school-haus/app/assets/stylesheets/pages.scss */
.container .story {
  margin-right: auto;
  margin-left: auto;
  width: 600px;
  line-height: 40px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */


.body {
	background-color: #000;
	font-family: 'Raleway', sans-serif;
}

.info a {
	text-decoration: none;
	color: #fff;
}

.info a:hover {
	text-decoration: none;
	color: #ccccff;
}
