	<div class="jumbotron">
		<div class="container">
			<h2 class="text-center">ABOUT</h2>
			<h5 class="text-center story">SchoolHaus is a content exchange and experience machine.

			Born out of the need to elevate traditonal experiences by

			appealing to more adventurous (child like) mindsets. And to

			drive culture with a learning and exchange tradition through

			original content.

			It’s founders, all from Nigeria, draw from their different

			disciplinary backgrounds and vast international network, to

			drive a community of practitioners that further the core

			belief that experience is truth and subjectivity is ornamental.</h5>
			<br><br> <br><br>

			 <h5 class="text-center">Fashion – Photography – Art – Music – Design – Events – Conferences – Food – Science</h5>
			<div class="home">
				<li><h3 class="text-center home"><a href="/">HOME</a></h3></li>
			</div>
		</div>
	</div>