
<div class="jumbotron">
	<div class="logo text-center"><img src="/school-haus.jpg"></div>
	<h2 class="text-center recess">On recess, come back for the next session...</h2>
	<h4 class="text-center info">For more info: <a href="mailto:nuda@school-haus.com">nuda@school-haus.com</a></h4>
	<br><br>

	<div class="links">
		<li><h3 class="text-center about"><a href="/about">ABOUT</a></h3></li>
	</div>
</div>
